/* Estilos generales */
:root {
    --primary-color: #5cb85c; /* Verde suave */
    --secondary-color: #375b2c; /* Amarillo suave */
    --text-color: #333;
    --background-color: #f8f9fa; /* Gris muy claro */
    --card-background: #fff;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1, h2, h3, h4 {
    font-weight: 600;
    color: var(--text-color);
}

h1 {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-right: 50px;
}

nav {
    display: inline-block;
    vertical-align: middle;
}

p {
    color: #6c757d; /* Gris medio */
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

ul li a:hover {
    color: var(--secondary-color);
}

.btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--secondary-color);
}

/* Header */
header {
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav li {
    margin-left: 30px;
}

header nav button {
    background-color: var(--primary-color);
    color: #fff;
    margin-left: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: var(--secondary-color);
    }

    &:active {
        transform: scale(0.95);
    }
}

/* Hero Section */
.hero {
    background-color: var(--primary-color);
    color: #fff;
    padding: 80px 0;
    text-align: center;
}

.hero-content {
    margin-bottom: 40px;
}

.hero-content h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #fff;
}

.hero-image {
    max-width: 600px;
    margin: 0 auto;
}

.hero-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Sections */
.section {
    padding: 60px 0;
}

.section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
}

/* Specialists Section */
.specialist-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: var(--card-background);
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: calc(33.33% - 40px); /* 3 tarjetas por fila con margen */
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    color: #6c757d;
}

/* Testimonials Section */
.testimonial-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.testimonial {
    background-color: var(--card-background);
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(50% - 40px); /* 2 tarjetas por fila con margen */
}

.testimonial p {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 20px;
}

.testimonial h4 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
}

/* Footer */
footer {
    background-color: #343a40; /* Gris oscuro */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Responsividad */
@media (max-width: 992px) {
    .card {
        width: calc(50% - 40px); /* 2 tarjetas por fila */
    }

    .testimonial {
        width: 100%; /* 1 tarjeta por fila */
    }
}

@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: flex-start; 
    }

    header nav li {
        margin: 10px 0; /* Ajusta el margen vertical según sea necesario */
    }

    .hero-content h2 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 1.1rem;
    }

    .card {
        width: 100%; /* 1 tarjeta por fila */
    }
}
